/* code for eveything */

h1,
p {
    font-family: 'Atomic Age', cursive;
}

a {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    margin-left: 0px;
    margin-top: 0px;
}

/* header code */

header {
    width: 1920px;
    height: 240px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    margin-left: 20px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

header nav {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

header div div {
    background-color: #FF0000;
    width: 172px;
    height: 172px;
    border-radius: 50%;
    border: 7px solid #000000;
}

header div div img {
    width: 172px;
    height: 172px;
}

header nav a button {
    width: 186px;
    height: 59px;
    background-color: #FF0000;
    border: 4px solid #000000;
    border-radius: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Atomic Age', cursive;
}

header nav a {
    margin-right: 40px;
}

.header-name-admin{
    margin-left: 100px;
    width: 500px;
}

.backlog{
    background-color: #d5d5d5;
}

/* main index */

.main-index {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.main-index section {
    margin-top: 107px;
}

.menu-type-food {
    margin-top: 107px;
    width: 275px;
    height: 95px;
    background-color: #FFE4D3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navigation-menu-index {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-items {
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.menu-items div {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 469px;
    height: 650px;
    border-radius: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-items div img {
    width: 368px;
    height: 244.88px;
    border-radius: 30px 0px;
    background-color: #000000;
}

.menu-items div div h1 {
    font-family: serif;
    font-size: 60px;
    color: #5AD6FF;
    margin-right: 20px;
}

.menu-items span {
    background-color: #FF0000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

.menu-items div div {
    display: flex;
    height: 100px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    flex-direction: row;
    justify-content: space-around;
}

.menu-items div p {
    width: 400px;
}

.menu-items div div p {
    font-size: 40px;
    margin-left: 20px;
}

/* login-register-main */
.login-or-registers-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-or-registers-page form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

form input {
    width: 500px;
    height: 80px;
    background-color: #FF8A98;
    border: 4px solid #000000;
    border-radius: 30px;
    font-size: larger;
    font-family: 'Atomic Age', cursive;
    text-align: center;
}

form p{
    align-self: center;
    justify-self: center;
    color: red;
}

.login-or-registers-page h1 {
    margin-left: 190px;
    font-size: xx-large;
}

.login-register {
    width: 186px;
    height: 59px;
    background: #FF0000;
    border: 4px solid #000000;
    border-radius: 30px;
    margin-left: 170px;
}

.confirm-message{
    color: red;
}

/* Main backlog */

.main-backlog p, .main-backlog h1{
    font-family: Arial, Helvetica, sans-serif;
}

.main-backlog{
    background-color: #d5d5d5;
}