/* code for eveything */

h1,
p {
    font-family: 'Atomic Age', cursive;
}

a {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    margin-left: 0px;
    margin-top: 0px;
}

input{
    transition: transform .2s;
}

input:hover{
    transform: scale(1.05);
}

/* header code */

header {
    width: 1920px;
    height: 240px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    margin-left: 20px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

header nav {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

header div div {
    background-color: #FF0000;
    width: 172px;
    height: 172px;
    border-radius: 50%;
    border: 7px solid #000000;
    transition: transform .2s;
}

header div div img {
    width: 172px;
    height: 172px;
}

header div div:hover{
    transform: scale(1.05);
}

header nav a button {
    width: 186px;
    height: 59px;
    background-color: #FF0000;
    border: 4px solid #000000;
    border-radius: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Atomic Age', cursive;
    transition: transform .2s;
}

header nav a button:hover{
    transform: scale(1.1);
}

header nav a {
    margin-right: 40px;
}

.header-name-admin{
    margin-left: 100px;
    width: 500px;
}

header.header-backlog nav{
    width: auto;
}

header nav.header-all-account{
    width: 250px;
}

/* main index */

.main-index {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.main-index section {
    margin-top: 107px;
}

.menu-type-food {
    margin-top: 107px;
    width: 275px;
    height: 95px;
    background-color: #FFE4D3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.menu-type-food:hover{
    transform: scale(1.1);
}

.top-navigation-menu-index {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-items {
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.menu-items div {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 469px;
    height: 650px;
    border-radius: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-items div img {
    width: 368px;
    height: 244.88px;
    border-radius: 30px 0px;
    background-color: #000000;
}

.menu-items div div h1 {
    font-family: serif;
    font-size: 60px;
    color: #5AD6FF;
    margin-right: 20px;
}

.menu-items span {
    background-color: #FF0000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

.menu-items div div {
    display: flex;
    height: 100px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    flex-direction: row;
    justify-content: space-around;
}

.menu-items div p {
    width: 400px;
}

.menu-items div div p {
    font-size: 40px;
    margin-left: 20px;
}

/* login-register-main */
.login-or-registers-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-or-registers-page form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.input-form-login-register-page {
    width: 500px;
    height: 80px;
    background-color: #FF8A98;
    border: 4px solid #000000;
    border-radius: 30px;
    font-size: larger;
    font-family: 'Atomic Age', cursive;
    text-align: center;
}

.submit-login-register-page {
    width: 186px;
    height: 59px;
    background: #FF0000;
    border: 4px solid #000000;
    border-radius: 30px;
    margin-left: 170px;
    font-family: 'Atomic Age', cursive;
}

form p{
    align-self: center;
    justify-self: center;
    color: red;
}

.login-or-registers-page section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-or-registers-page section h1{
    font-size: xx-large;
}

.confirm-message{
    color: red;
}

/* Main backlog */

.main-backlog{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-backlog section{
    margin-top: 50px;
    width: 1800px;
    display: flex;
    justify-content: space-evenly;
}

.home-choice-page{
    height: 300px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-choice-page img{
    height: 200px;
    width: auto;
}

.main-backlog p, .main-backlog h1{
    font-family: Arial, Helvetica, sans-serif;
}


.main-backlog form div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.main-backlog form div p{
    color: black;
}

/* code for the backlog add item */

.style-input-add-item{
    width: 300px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}
textarea{
    resize: none;
    width: 300px;
    height: 180px;
    border: 3px solid black;
    border-radius: 10px;
    transition: transform .2s;

}

textarea:hover{
    transform: scale(1.05);
}

fieldset{
    border: none;
}

.main-backlog form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

fieldset{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.submit-button-add-new-item{
    width: 150px;
    height: 60px;
    background-color: #FFE4D3;
    border: 3px solid black;
    border-radius: 20px;
}

/* code for menage account */

.main-backlog-manage-account section{
    width: 370px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 550px;
}

main.main-backlog-manage-account{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

.main-backlog-manage-account h1 , .main-backlog-manage-account p{
    font-family: Arial, Helvetica, sans-serif;
}

.menage-account-section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.text-area{
    display: flex;
    align-items: center;
}

.selection-options-accounts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.section-show-all-users{
    width: 500px;
    height: 550px;
}

.show-all-users div{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.show-all-users form{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.edit-form{
    width: auto;
}

.show-all-users{
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.show-all-users input{
    background-image: url(../img/delete-forever.svg);
    border: none;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-color: white;
}

input.add-id-page{
    background-image: url(../img/edit-icon.svg);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}

.show-all-users p{
    font-size: 20px;
    color: #000000;
}

.edit-account-backlog{
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-account-backlog form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-account-backlog form div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.edit-account-backlog form input{
    margin-top: 40px;
}

.delete-account-backlog{
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-account-backlog form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.delete-account-backlog form input{
    margin-top: 40px;
}

.delete-account-backlog p {
    width: 200px;
}

.edit-premissions-backlog{
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-premissions-backlog form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-premissions-backlog form div{
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.category-users{
    text-align: center;
    width: 300px;
    border-top: 1px solid #FF0000;
}

/* edit menu-page */

.main-backlog-menage-item{
    display: flex;

}

.add-menu-item-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.edit-menu-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow-y: scroll;
    height: 600px;
}

.edit-menu-page p{
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item-display{
    width: 400px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-info-menu-item{
    width: 300px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-info-menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-items-edit-options{
    display: flex;
    width: 200px;
    justify-content: space-between;
    text-decoration: underline;
}

.main-backlog-manage-account input.input-place{
    height: 22px;
    width: 250px;
    border-radius: 5px;
    border: 3px black solid;
}

.main-backlog-manage-account input.submit-button{
    width: 110px;
    height: 35px;
    border-radius: 5px;
    border: 3px black solid;
    background-color: #FF0000;
    color: white;
    text-align: center;
}

.edit-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-account form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.edit-premission-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.edit-premission-form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

/* edit item page */

.edit-item-form{
 margin-top: 60px;
}

.hidden-input{
    opacity: 0;
    height: 0px;
    width: 0px;
}

/* edit account users */

.main-edit-account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-account{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.edit-account form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
}

.edit-account input{
    background-color: #FF8A98;
    height: 50px;
    width: 200px;
    border: 5px black solid;
    border-radius: 15px;
    text-align: center;
}

input.submit-button-edit-account{
    background-color: #FF0000;
    border: 5px black solid;
    border-radius: 15px;
    width: 120px;
}